rules_version = "2";
service cloud.firestore {
  match /databases/{database}/documents {
    match /usuarios/{userId} {
      allow read, write: if request.auth != null;
    }

    match /publicos/{pubId} {
      allow read, write: if true;
    }

    match /publico/{docId} {
      allow read, write: if true;
    }

    match /configuraciones/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /pagos_reportados/{docId} {
      allow read, write: if true;
    }

    match /finanzas_ingresos/{docId} {
      allow read, write: if request.auth != null;
    }
  }
}


